.title{
	margin-left: 250px;
}

.div-b{
	margin-left: 36px;
}

.div-canvas{
	margin-top:0px;
	margin-bottom:0p;
}

.b{
	margin-left: 6px;
	width:40px;
}

.in{
	margin-top: 20px;
	margin-left: 200px;
}

.inin{
	text-align: center;
}